rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to create their own profile document,
    // but they can't read or write to other user's documents.
    match /users/{userId} {
      // A user can be created if the person is signed in.
      allow create: if request.auth != null;
      
      // A user can read or update their own document.
      allow read, update: if request.auth.uid == userId;
    }
  }
}
